{:paths ["src/cljs" "src/cljc" "src/clj"]
 
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        com.taoensso/timbre {:mvn/version "4.10.0"}
        frankiesardo/linked {:mvn/version "1.3.0"}
        prismatic/dommy {:mvn/version "1.1.0"}
        reagent {:mvn/version "0.10.0"}
        clj-time {:mvn/version "0.15.2"}
        com.andrewmcveigh/cljs-time {:mvn/version "0.5.2"}
        bouncer {:mvn/version "1.0.1"}
        hiccups {:mvn/version "0.3.0"}
        cljsjs/clipboard {:mvn/version "2.0.4-0"}

        thi.ng/geom
        { ;;:mvn/version "1.0.0-RC4"
         ;; version without ndarray
         :git/url "https://github.com/dimovich/geom"
         :sha "0de32866ff85533e0a57bf4567917f1a5c70aabc"}}

 
 :aliases
 {:prod
  {:extra-paths ["resources"]
   :main-opts ["-m cljs.main -co prod.cljs.edn -c proto.figwheel"]}


  :cider
  {:extra-paths ["resources"]
   :extra-deps {cider/piggieback {:mvn/version "0.4.0"}
                com.bhauman/figwheel-main {:mvn/version "0.2.7"}}}
  
  
  :figwheel
  {:extra-paths ["resources"]
   :extra-deps {cider/piggieback {:mvn/version "0.5.0"}
                devcards/devcards {:mvn/version "0.2.7"}
                com.bhauman/figwheel-main {:mvn/version "0.2.10"}}
   :main-opts ["-i scripts/sass.clj -m figwheel.main -b dev"]}}}
